<!DOCTYPE html>
<html>
  <head>
    <title>99Cats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      table, th, td {
        border: 1px solid black;
        padding: 4px;
        border-collapse: collapse;
      }
    </style>
  </head>

  <body>
    <h2><a href="<%= cats_url %>">HOME</a></h2>

    <% if !current_user.nil? %>
      <ul>
        <li>Logged in as: <%= current_user.username %></li>
        <li>
          <form action="<%= session_url %>" method="POST">
            <input type="hidden"
              name="authenticity_token"
              value="<%= form_authenticity_token %>">
            <input type="hidden"
              name="_method"
              value="delete">
            <input type="submit"
              value="Logout">
          </form>
        </li>
      </ul>
    <% else %>
      <ul>
        <li>
          <a href="<%= new_session_url %>">Log in</a>
        </li>
        <li>
          <a href="<%= new_user_url %>">Sign up</a>
        </li>
      </ul>
    <% end %>

    <%= yield %>
  </body>
</html>
