<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="body">
    <header class="header">
      <nav class="header-nav">
        <div class='header-item'>
          <div class='header-logo'>
            <a class='cf' href='<%= bands_url %>'>Music App!</a>
          </div>
        </div>

        <div class='header-item'>
          <div class='header-title'>
            <%= yield :header %>
          </div>
        </div>

        <div class="header-login-or-logout header-item">
          <%= login_or_logout %>
        </div>
      </nav>
    </header>
      <main class="main">
      <%= yield %>
    </main>
    <footer class="footer">
      <%= yield :footer %>
    </footer>
  </body>
</html>
