<h1><%= @cat.name %></h1>

<table>
    <tr>
        <th>Owner</th>
        <th>Sex</th>
        <th>Color</th>
        <th>Age</th>
    </tr>
    <tr>
        <td><%= @cat.owner.username %></td>
        <td><%= @cat.sex %></td>
        <td><%= @cat.color %></td>
        <td><%= @cat.age %></td>
    </tr>
</table>

<p><%= @cat.description %></p>

<h2>
    Rental Requests
</h2>

<table>
    <tr>
        <th>Requestor</th>
        <th>Start Date</th>
        <th>End Date</th>
        <% if current_user == @cat.owner %>
            <th>Status</th>
        <% end %>
    </tr>
    <% @cat.requests.each do |request| %>
        <tr>
            <td><%= request.requester.username %></td>
            <td><%= request.start_date %></td>
            <td><%= request.end_date %></td>
            <% if current_user == @cat.owner %>    
                <td>
                    <%= request.status %>
                    <% if request.pending? %>
                        <form action="<%= cat_rental_request_url(request) %>" method="post">
                            <input type="hidden" name="_method" value="patch">
                            <%= auth_token %>
                            <input type="hidden" name="rental_request[id]" value="<%= request.id %>">
                            <input type="hidden" name="rental_request[status]" value="APPROVED">
                            <input type="submit" value="Approve">
                        </form>
                        <form action="<%= cat_rental_request_url(request) %>" method="post">
                            <input type="hidden" name="_method" value="patch">
                            <%= auth_token %>
                            <input type="hidden" name="rental_request[id]" value="<%= request.id %>">
                            <input type="hidden" name="rental_request[status]" value="DENIED">
                            <input type="submit" value="Deny">
                        </form>
                    <% end %>
                </td>
            <% end %>
        </tr>
    <% end %>
</table>

<h3>
    <a href="<%= new_cat_rental_request_url(@cat) %>">Request rental</a>
</h3>

<h3>
    <a href="<%= edit_cat_url(@cat) %>">Edit</a>
</h3>

<!-- <h3>
    <a href="<%# @cat.destroy %>">Delete</a>
</h3> -->

<% content_for :footer do %>
    <p>This is <%= @cat.name %>'s show page</p>
<% end %>
