<h1><%= @cat.name %></h1>

<table>
    <tr>
        <th>Sex</th>
        <th>Color</th>
        <th>Age</th>
    </tr>
    <tr>
        <td><%= @cat.sex %></td>
        <td><%= @cat.color %></td>
        <td><%= @cat.age %></td>
    </tr>
</table>

<p><%= @cat.description %></p>

<h3>
    <a href="<%= edit_cat_url(@cat) %>">Edit</a>
</h3>
