<% content_for :header do %>
  <h1 class='title'><%= @album.name %></h1>
<% end %>

<div class='body-container'>
  <div class='body-box'>
    <a href='<%= band_url(@album.band) %>'>Back to band page</a>
  </div>

  <div class='body-box'>
    <table class='table'>
      <tr>
        <th class='table-head'>Album Title</th>
        <th class='table-head'>Artist</th>
        <th class='table-head'>Year</th>
        <th class='table-head'>Recorded</th>
      </tr>
      <tr>
        <td class='table-data'><%= @album.name %></td>
        <td class='table-data'><%= @album.band.name %></td>
        <td class='table-data'><%= @album.year %></td>
        <td class='table-data'><%= @album.how_recorded %></td>
      </tr>
    </table>
  </div>

  <div class='main-box'>
    <table class='table'>
      <tr>
        <th class='table-head'>Song Title</th>
        <th class="table-head">Order Number</th>
        <th class='table-head'>Bonus?</th>
      </tr>
      <% @album.tracks.sort_by(&:ord).each do |track| %>
        <tr>
          <td class='table-data'>
            <a href='<%= track_url(track) %>'><%= track.title %></a>
          </td>
          <td class='table-data'><%= track.ord %></td>
          <td class='table-data'><%= !track.is_regular %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class='main-box'>
    <a class='new-button' href='<%= new_band_album_track_url(@album.band, @album) %>'>New Track</a>
  </div>


  <div class='body-box'>
    <ul>
      <li class='edit-button'>
        <a href='<%= edit_album_url(@album) %>'>Edit</a>
      </li>
      <li class='delete-button'>
        <form action='<%= album_url(@album) %>' method='POST'>
          <input type='hidden' name='_method' value='DELETE'>
          <%= auth_token %>
          <input type="submit" value='Delete'>
        </form>
      </li>
    </ul>
  </div>
</div>
