<% action_url = track.persisted? ? track_url(track) : tracks_url %>
<% form_method = track.persisted? ? "PATCH" : "POST" %>
<% submit_text = track.persisted? ? "Update track" : "Create track" %>

<% content_for :header do %>
  <h1><%= submit_text %> form</h1>
<% end %>

<div class='div-for-form'>
  <form class='form' action='<%= action_url %>' method="POST">
    <input type='hidden' name='_method' value='<%= form_method %>'>
    <%= auth_token %>

    <div class='form-item'>
      <label class='label' for='track_title'>Title</label>
      <input class='input_text' type="text" id='track_title' name='track[title]' value='<%= track.title %>'>
    </div>
    
    <div class='form-item'>
      <label class='label' for='track_ord'>Track Order Number</label>
      <input class='input_number' type="number" id='track_ord' name='track[ord]' value="<%= track.ord %>">
    </div>

    <div class='form-item'>
      <label class='label' for='bonus_track_buttons'>Bonus Track</label>
      <div class='radio-buttons' id='bonus_track_buttons'>
        <div>
          <input class='input_radio' type='radio' id='true' name='track[is_regular]'
            <%= @track.is_bonus ? "checked" : "" %>>
          <label class='label_radio' for='true'>True</label>
        </div>

        <div>
          <input class='input_radio' type='radio' id='false' name='track[is_regular]'
            <%= @track.is_bonus ? "" : "checked" %>>
          <label class='label_radio' for='false'>False</label>
        </div>
      </div>
    </div>

    <div class='form-item'>
      <label class='label' for='track_album'>Album</label>
      <select class='input_select' id='track_album' name='track[album_id]'>
        <option disabled selected>
          -- SELECT ALBUM --
        </option>
        <% albums.all.each do |album| %>
          <option class='select_option' value='<%= album.id %>' <%= track.album == album ? "selected" : "" %>>
            <%= album.name %>
          </option>
        <% end %>
      </select>
    </div>

    <div class='form-item'>
      <label class='label' for='track_lyrics'>Lyrics</label>
      <textarea class='input_textarea' id='track_lyrics' name=track[lyrics]></textarea>
    </div>

    <div class='form-item'>
      <%= render 'shared/errors' %>
    </div>

    <div class='form-item'>
      <input class='input_submit' type='submit' value="<%= submit_text %>!">
    </div>
  </form>
</div>
